<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.supertv.iptv" version="1.0.0" viewmodes="maximized">
  <tizen:application id="com.supertv.iptv" package="com.supertv" required_version="5.5" xmlns:tizen="http://tizen.org/ns/widgets"/>
  <content src="index.html"/>
  <name>SuperTV IPTV</name>
  <tizen:privilege name="http://tizen.org/privilege/internet" xmlns:tizen="http://tizen.org/ns/widgets"/>
</widget>
